<div [hidden]="!isRunning" class="spinner" [ngStyle]="{'width': width, 'height': height}">
  <div class="rect1" [ngStyle]="{'background-color': color, 'width': rectWidth}"></div>
  <div class="rect2" [ngStyle]="{'background-color': color, 'width': rectWidth}"></div>
  <div class="rect3" [ngStyle]="{'background-color': color, 'width': rectWidth}"></div>
  <div class="rect4" [ngStyle]="{'background-color': color, 'width': rectWidth}"></div>
  <div class="rect5" [ngStyle]="{'background-color': color, 'width': rectWidth}"></div>
</div>