<form novalidate [formGroup]="formGroup">
  <div class="row">
    <div class="col-md-3 mb-3">
      <label>*{{ "mod10.severity2Mod10.fields.severityId_display" | translate }}:</label>
      <input type="number" class="form-control" [ngClass]="{'is-invalid': isInvalid(formGroup, 'severityId')}" formControlName="severityId" appInteger [readonly]="!newRecord" required />
      <div class="invalid-feedback" *ngIf="hasError(formGroup, 'severityId', 'required')">{{ "mod10.severity2Mod10.fields.severityId_required" | translate }}</div>
      <div class="invalid-feedback" *ngIf="hasError(formGroup, 'severityId', 'digits')">{{ "mod10.severity2Mod10.fields.severityId_invalid" | translate }}</div>
      <div class="invalid-feedback" *ngIf="hasError(formGroup, 'severityId', 'range')">{{ "mod10.severity2Mod10.fields.severityId_invalid" | translate }}</div>
    </div>
    <div class="col-md-6 mb-3">
      <label>*{{ "mod10.severity2Mod10.fields.description_display" | translate }}:</label>
      <input type="text" class="form-control" [ngClass]="{'is-invalid': isInvalid(formGroup, 'description')}" maxlength="200" formControlName="description" required />
      <div class="invalid-feedback" *ngIf="hasError(formGroup, 'description', 'required')">{{ "mod10.severity2Mod10.fields.description_required" | translate }}</div>
    </div>
  </div>
  <div class="form-actions">
    <button type="button" class="btn btn-primary mr-2" [ladda]="isLoading" [disabled]="!hasPermission('mod10.severity2Mod10.save')" (click)="save()">
      {{ "shared.buttons.save" | translate }}
    </button>
    <button type="button" class="btn btn-default mr-2" (click)="back()">
      {{ "shared.buttons.cancel" | translate }}
    </button>
  </div>
</form>
