<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ "shared.modals.filter.title" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="c()">{{ "shared.buttons.cancel" | translate }}</button>
    <button type="button" class="btn btn-primary" [ladda]="isLoading" (click)="filter()">{{ "shared.buttons.filter" | translate }}</button>
  </div>
</ng-template>